<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Map Project{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
</head>
<body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">

 

  <main class="flex-grow container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

</body>
</html>
